<!-- pokedex.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/list_syle.css">
    <title>Pokedex</title>
    
</head>


<body>


    <div class="navbar">
        <h1><% if (user) { %> Welcome Back, <%= user.username %> <% } %></h1>
       <div class="outershell">
            <a href="/log-out">LOG OUT</a>
            <a href="/search/individualPokemon">Your Pokedex</a>
            
       </div>
      
    </div>

    <ul>
        <% for (const pokemon of pokemonList) { %>
            <li>
               
                
                Name: <%= pokemon.name %><br>
                Type: <%= pokemon.type %><br>
                Height: <%= pokemon.height %><br>
                Weight: <%= pokemon.weight %><br>
                Forms: <%= pokemon.forms %><br>
                
                Image: <img src="<%= pokemon.imageUrl %>" alt="<%= pokemon.name %> Image" width="100" height="100"><br>
                
                <form action="delete" method="post">
                    <input type="hidden" name="name" value="<%= pokemon.name %>">
                    <button id="delete" >Delete</button>
                </form>
           
               

            </li>
        <% } %>
    </ul>
    <a href="/search">back to search</a>
    <a href="/search/individualPokemon">to Pokedex</a>
</body>
<script>
                
</script>


</html>
